<div class="container">

	<div class="col-lg-4 col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Recent Events</div>
			<div class="panel-body">
				<div ng-repeat="event in vm.events" ng-show="event.RoadwayName" ng-cloak>
					<h2>{{event.RoadwayName}}</h2>
					<p>{{event.Location}}</p>
					<p>Duration: {{event.Description}}</p>
					<hr>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Alerts</div>
			<div class="panel-body">
				<div ng-repeat="alert in vm.alerts" ng-cloak ng-show="vm.alerts.length > 0">
					<p>{{alert.Message}}</p>
					<hr>
				</div>
				<div class="alert alert-warning" ng-show="vm.alerts.length == 0">
					<h4>No alerts at this time</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">Transit Options</div>
			<div class="panel-body">
				<div ng-show="vm.currentLocation">
					<p>Current Location:</p>
					<input type="text" class="form-control" ng-model="vm.currentLocation" readonly>
				</div>

				<div ng-show="vm.currentLocation">
					<p>Enter destination:</p>
					<input type="text" class="form-control" ng-model="vm.destination">
				</div>

				<button class="btn btn-success" ng-show="!vm.currentLocation" ng-click="vm.getLocation()">Get Location</button>
				<button class="btn btn-success" ng-click="vm.getDirections()" ng-show="vm.destination && vm.currentLocation">Get Directions</button>



				<div ng-show="vm.directions">
					<hr>
					<table class="table">
						<thead>
							<th>Step</th>
							<th>Duration (min)</th>
						</thead>
						<tbody>
							<tr ng-repeat="step in vm.directions">
								<td>{{step.html_instructions}}</td>
								<td>{{step.duration.text}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 
	COLUMNS IN RESPONSE
CountyName
Description
DirectionOfTravel
EventSubType
EventType
FirstArticleCity
ID
LanesAffected
LanesStatus
LastUpdated
Latitude
LcsEntries
Location
Longitude
MapEncodedPolyline
NavteqLinkId
PlannedEndDate
PrimaryLocation
RegionName
Reported
RoadwayName
SecondCity
SecondaryLocation
Severity
StartDate -->